.conteiner_pai{
    align-self: flex-start;
    display:inline-block; 
}

.conteiner_cabecalho hr{
    margin-right: 350px;
    margin-top: -50px;
}

.conteiner_info_eu{
    display: flex;
    margin-top: 100px;
    height: 500px;
    padding: 30px;
    margin-left: -20px;
    margin-right: -8px;
}

.conteiner_sobre_mim{
    margin-left: 100px;
    flex: 400px;
    border: #495f6d  groove 2px;
    padding: 25px;
    border-radius: 55px;
}

.conteiner_contato{
    margin-left: -68px;
    margin-right: 60px;
    flex: 300px;
    border-radius: 55px;
    padding-left: 60px;
    border: #495f6d  groove 2px;
    height: 400px;
    margin-top: 50px;
}

.conteiner_projetos{
    margin-left: -20px;
    margin-right: -8px;
    padding: 30px;
}

.conteiner_curriculo{
    margin-left: 10px;
    background-color: aliceblue;
    height: 400px;
    border-radius: 55px;
    width: 900px;
    padding: 30px;
    margin-bottom: 100px;
  
}

.conteiner_viagens{
    margin-left: 10px;
    background-color: aliceblue;
    height: 400px;
    border-radius: 55px;
    width: 900px;
    padding: 30px;
    margin-bottom: 100px;
}

.conteiner_carros{
    margin-left: 10px;
    background-color: aliceblue;
    height: 400px;
    border-radius: 55px;
    width: 900px;
    padding: 30px;
    margin-bottom: 100px;
}

.conteiner_playlist{
    margin-left: 10px;
    background-color: aliceblue;
    height: 400px;
    border-radius: 55px;
    width: 900px;
    padding: 30px;
}

.conteiner_img1{
    display: flex;
    margin-left: 00px;
    
}