body{
  background: linear-gradient(to bottom, #cfd6f8, #90a2f8); 
}

.conteiner_contato{
    background-color: #a8bcc8;
}

hr{
    background-color: black;
}

.conteiner_info_eu{
    background-color: #cfd6f8;
}


