hr{
    width: 600px;
    height: 3px;
    border: none;
}

.conteiner_contato hr{
    margin-left: 10px;
    width: 350px;
    margin-top: -40px;
    height: 2px;
}

.meus_projetos{
    margin-top: -40px;
    margin-bottom: 50px;
    width: 450px;
    margin-left: 650px;
}