h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 85px;
    text-align: center;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.conteiner_contato h2{
    margin-left: 20px;
}

.conteiner_projetos h2{
    margin-top: 100px;
    text-align: center;
}

.h2projetos{
    margin-top: 100px;
    text-align: center;
}